.container
  section.demo
    .grid
      .unit.whole
        pre .whole        
    .grid
      .unit.half
        pre .half        
      .unit.half
        pre .half        
    .grid
      .unit.one-third
        pre .one-third        
      .unit.two-thirds
        pre .two-thirds        
    .grid
      .unit.one-quarter
        pre .one-quarter        
      .unit.three-quarters
        pre .three-quarters        
    .grid
      .unit.one-fifth
        pre .one-fifth        
      .unit.four-fifths
        pre .four-fifths        
    .grid
      .unit.two-fifths
        pre .two-fifths        
      .unit.three-fifths
        pre .three-fifths        
    .grid
      .unit.golden-large
        pre .golden-large        
      .unit.golden-small
        pre .golden-small